@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --olive-dark: #3e4a24;
  --olive: #556b2f;
  --cream: #f8f5ec;
  --cream-light: #f2eedf;
  --gold: #dccca3;
  --text-dark: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--cream);
  color: var(--text-dark);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}
